-- joinadmin (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$22MIVftpIe44fSzBYf7HK.hMEvXE11xl04QhlntisMdeXbIJ.Qu7a' WHERE "login" = 'joinadmin' AND "empresaID" = 1;

-- demo1.admin (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$bvvOJ2wLPCBMuZilhZsdnOIhm9wvobINKGVMBC4LERwEvsKjenCMu' WHERE "login" = 'demo1.admin' AND "empresaID" = 1;

-- demo1.pedidos (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$.CRrJ/GU4X48huYLb61nuue6st5OL5o2Tfd4Bf2lzThLruPEZ8x2W' WHERE "login" = 'demo1.pedidos' AND "empresaID" = 1;

-- demo1.florista1 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$EtqsvzZ1bw5PR5wFQzZeruSVxbBkPtO6O6Y9eMPfpeNjgz7.brdiK' WHERE "login" = 'demo1.florista1' AND "empresaID" = 1;

-- demo1.florista2 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$fmCdYf52NHzUiT2WYyfRL.KYf4a96/EwFrsFtIgGxx.0yMXcLrzc2' WHERE "login" = 'demo1.florista2' AND "empresaID" = 1;

-- demo1.florista3 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$VtBoNU90WF1T33dNIyg.MegTsIV0WYY1yQKsfNDhWH6Zvk4RCMXTO' WHERE "login" = 'demo1.florista3' AND "empresaID" = 1;

-- demo1.florista4 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$B6QBMQZATL6UhrcAdC66q.Gypgs1ykujUoSPHxltZ94zCmB9LErYi' WHERE "login" = 'demo1.florista4' AND "empresaID" = 1;

-- demo1.domi1 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$WTslPCgMVV5fUopMkt9gg..ulr1hP8Z89dX.nV/jMlUWsgQr0g1W.' WHERE "login" = 'demo1.domi1' AND "empresaID" = 1;

-- demo1.domi2 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$i7epQ7aTu5E2Wg9EonFwPuRdagEgiOj1qEqDcL/0zeTEIVN9sF8gC' WHERE "login" = 'demo1.domi2' AND "empresaID" = 1;

-- demo1.domi3 (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$l4od68ILpwDIqMIFty3cqeLYMJ7ak6L.u.d8Qk.DUdNLuCs0wz7DS' WHERE "login" = 'demo1.domi3' AND "empresaID" = 1;

-- demo1.inventario (empresa 1)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$QcEjttkJ3AoXFtjjybxFaOPZC.G16iR5Uld1S5LyG6ArDbBuKgSka' WHERE "login" = 'demo1.inventario' AND "empresaID" = 1;

-- flora.admin (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$PtHPhX0ZDSQmiItB4FvhieNOOZ.fvWWz2OFRF6Rq.pkMfo3SHtuo6' WHERE "login" = 'flora.admin' AND "empresaID" = 3;

-- flora.pedidos (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$unFxMyHZJglGyn3jOVELh.RA9Y785EqtXnhsRL.eHo1j/pbkrXZjC' WHERE "login" = 'flora.pedidos' AND "empresaID" = 3;

-- flora.florista1 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$hv.kwWZLOOUmkAaykFuk7uQz2B1gShGH.WEnRtZg5rxekMjr97/Bq' WHERE "login" = 'flora.florista1' AND "empresaID" = 3;

-- flora.florista2 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$aNMKlLhmS4MUMruj1aDqlubXqbuuQzlslfI0je8/GGPgRfiFT8XuW' WHERE "login" = 'flora.florista2' AND "empresaID" = 3;

-- flora.florista3 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$OiSHRtioeAIQP7bONf6ngurplf1YTZehR9LNQJZ29L00w9yhzpWjC' WHERE "login" = 'flora.florista3' AND "empresaID" = 3;

-- flora.florista4 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$QjrAkgyqGSq0UQ88RixYsuKd7/cSKdYAPWKqzKEuJgMqpqvvLue/K' WHERE "login" = 'flora.florista4' AND "empresaID" = 3;

-- flora.domi1 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$b4EoV4JOA98vt.8/vUt1TuIIzKFYhXLEcRcrmpQSFHt5K66H8eCQy' WHERE "login" = 'flora.domi1' AND "empresaID" = 3;

-- flora.domi2 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$2povKlHWajwacfKNK5muyeN/bIi//qNymFAHHjH4K4dGjhj8K8DoC' WHERE "login" = 'flora.domi2' AND "empresaID" = 3;

-- flora.domi3 (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$4VhJEV5nSGzyXdOI0/53lOEBLBoi/4pOuj1CJ.PDi7JtY8zN447c.' WHERE "login" = 'flora.domi3' AND "empresaID" = 3;

-- flora.inventario (empresa 3)
UPDATE "petalops"."Usuario" SET "passwordHash" = '$2b$12$KeDHEM1NiXjF7yS6qZrHTe/AVOROQKykxNkB/f/bBDpYdqdSkGVzW' WHERE "login" = 'flora.inventario' AND "empresaID" = 3;

